h1,
p {
  font-family: Lato;
}

.ingredients {
  display: flex;
  margin: 0.5em;
  justify-content: center;
  align-items: center;
  min-height: 3.4em;
  flex-wrap: wrap;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5em 0.5em;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  border: 2px dashed rgba(0, 180, 255, 0.5);
  min-height: 2em;
  overflow: auto;
}

.ingredients .ingredient,
.catalog .ingredient {
  padding: 0.3em;
  margin: 0.3em 0.3em;
  color: white;
  border-radius: 0.2em;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  min-width: 0;
  text-overflow: ellipsis;
}

.ingredient.肉 {
  background: brown;
}
.ingredient.菜 {
  background: darkgreen;
}

.ingredient.佐料 {
  background: rgb(43, 43, 136);
}

.rules {
  flex: 1;
  font-family: sans-serif;
  margin: 0.5em 0.5em;
  border-radius: 0.2em;
  border: 2px dashed rgba(0, 180, 255, 0.5);
  padding: 0.5em 2em;
  min-height: 2em;
  overflow: auto;
}

.rules .rule-item {
  display: flex;
  align-items: center;
  line-height: 2em;
  justify-content: space-between;
}

.scores {
  font-family: sans-serif;
  margin: 0.5em 0.5em;

  text-align: right;
}

.scores .total-score {
  font-size: 2em;
}

.player-score {
  font-size: 2em;
  margin-left: 0.5em;
  color: darkorange;
  white-space: nowrap;
}

.scores .item-score {
  margin: 0.2em;
}

select.flavor {
  flex: 1;
  margin: 0.5em;
  padding: 1em;
}

.noodle-select {
  display: flex;
}

.bowl {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: lightgrey;
  margin: 0.5em;
  border-radius: 2px;
  user-select: none;
  cursor: pointer;
}

.bowl .label {
  font-weight: 600;
}
.bowl .price {
  font-size: 0.8em;
}

.root,
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
}
